{{ define "main" }}
<article class="post-body">
  <h1 class="text-green">{{ .Title }}</h1>
  {{ partial "date-and-time-to-read.html" . }}
  {{ with .GetTerms "tags" }}
  <hr />
  <div class="tags">
    {{- range . }}
    <div class="tag">
      <a href="{{ .RelPermalink }}" class="test">{{ .LinkTitle }}</a>
    </div>
    {{- end }}
  </div>
  {{- end }}
  {{ if (and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (ne .TableOfContents "")) }}
  <hr />
  {{ .TableOfContents }}
  {{- end }}
  <hr />
  <div class="content">
    {{ .Content }}
  </div>
</article>
{{ end }}
